.logo{
    width: 100px;
}
body{
    background: #f3f3f3;
}
.main{
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    height:100%;
}

.page-title{
    /*margin: auto;*/
    text-align: center;
    font-weight: 700;
}

.index-logo-src{
    /*border: solid 2px green;*/
    height: 40px;
    width: 117px;
}